/*무비 컴포넌트 ss*/

.movie-container {
    
    position: relative;
    display: grid;
    align-items: center;
    margin:0px;
    padding:0px;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width : 300px;
    height: 530px;
    background-color: rgb(55, 59, 106);
    
} 

.movie-container img{
    
    margin:0px;
    padding:0px;
    width : 300px;
    height: 400px;
    
}

.movie-container h2{
    position: relative;
    margin-top:20px;
    padding-left:10px;
    color: white;
    text-align: left;
    font-size: 15px;
    
}


.movie-container p{
    position: relative;
    padding-right:10px;
    color: white;
    text-align: right;
    font-size: 15px;
    
}


