body{
  display: grid;
  background-color: rgb(34, 38, 76);
  height: 0px;
  margin: 0 auto;
  align-items: center;
}

#root {
  position: relative;
  margin: auto;
  padding: auto;
}

.mapitem {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; /* 높이 자동으로 설정 */
  gap : 20px;
  width : 300px;
  height: 20px;
}

.movie-item{
  position: relative;
  z-index: 1;
}

.story-item{
  position: relative;
  z-index: 2;
}

.button {
  font-size : 70px;
  color : white;
  text-align : center;
}

.button-design:hover {
  color : rgb(79, 147, 156);
}


.button-design {
  font-family: Georgia, serif;
  margin : 90px;
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  position : relative;
  background : none;
  font-size : 70px;
  margin-top : 2300px;
  text-align: center;
}

