
body {
    background-color:#ecf0f6;
}

#title {
    text-align: center;
}

#hr {
    width: 80%;
    background-color: #d4d7dd;
    height: 1px;
    border: 0;
}

#plan-div {
    text-align: center;
}

#plan{
    width: 70%;
    border: 2px solid;
    height: 20px;
}

input::placeholder{
    color:#d0d5dd;
    font-size: 10px;
    font-style: italic;
}

#sub-title {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #d4d7dd;
    text-underline-offset : 4px;
    text-align: center;
}

.content {
    width: 80%;
    display: flex;
    padding: 0 10%;
    /* justify-content: space-between; */
    justify-content: center;
}

.todo-div, .completed-div {
    width: 400px;
    text-align: center;
}

#todo, #completed-todo {
    margin: auto;
    width: 180px;
    border-bottom: 3px solid rgb(206, 220, 241);
    padding: 10px;
}

button {
    background-color: rgb(206, 220, 241);
    border-radius: 4px;
    border: none;
}

span{
    display: inline-block;
    width: 140px;
    text-align: left;
    font-weight: bold;
}

